doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Gedcom Viewer
    // build:css(.) styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            span.btn.btn-primary.btn-file(type="button") Open
              input.file.open-gedcom(type="file")
          li
            button.btn.btn-primary(type="button") About
        h3.text-muted Online Gedcom Viewer

    .container-fluid
      .row
        .col-md-12
          table.table.people-table.display.compact(width="100%", cellspacing="0")
    // build:js(.) scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js(app) scripts/main.js
    script(src="scripts/main.js")
    // endbuild
